

.App-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Logo-Container{
  
  padding: 24px;
  padding-bottom: 0;
}

.Logo-Image{
  max-width: 300px;
  max-height: 200px;
}
.profile-modal {
  position: absolute;
  right:50%;
  display:flex;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vertical-center {
  top: 30%;
  margin-right: 24px;
}


